body    {
    margin: 0;
    padding: 0;
}

#header {
    height: 46px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav ul {
    padding: 0;    
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > ul > li > a   {
    color: #fff;
    text-transform: uppercase;
    padding: 0 24px; 
    line-height: 46px;    
}

#nav li a   {    
    text-decoration: none;
    font-size: 1.6rem;   
    display: inline-block;
         
}

#nav .subnav li:hover,
#nav > ul > li:hover > a {
    color:#000;
    background-color: #ccc;
    
}

#nav > ul > li:hover .subnav    {
    display: block;
}

#nav .subnav    {
    display: none;
    position: absolute;    
    background-color: #fff;
    width: 160px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 , .3);
}

#nav .subnav li {
    width: 100%;
    list-style: none;
    padding: 12px;
    
}

#nav .subnav a  {
    color: #000;  
    font-size: 1.4rem;
}

.nav-arrow-down {
    font-size: 1.2rem;
}

#header .search-btn {
    font-size: 20px;
    color: #fff;
    padding: 13px 24px;
    height: 100%;
}

#header .search-btn:hover   {
    background-color: #f44336;
    cursor: pointer;
}

#slider {      
    margin-top: 46px;   
    position: relative;
}

.slider-faded img   {
    width: 100%; 
}

.text-content  {
    position: absolute;
    color: #fff;
    bottom: 48px;  
    width: 100%;
    text-align: center;
}

.text-heading   {
    font-weight: 500;
    font-size: 24px;
}

.text-desciption    {
    font-size: 15px;
    margin-top: 25px;
}
.text-white {
    color: #fff !important;
}

/* about section */

#content .content-section   {
    width: 800px;
    margin: 0 auto;    
    padding: 64px 0;  
}

#content .content-section .section-heading  {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .content-section .section-sub-heading  {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .content-section .about-text   {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#content .content-section .member-list  {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content .content-section .member-name  {
    font-size: 15px;
    text-align: center;
}

#content .content-section .member-img   {
    text-align: center;
}

#content .content-section .member-avata {
    width: 60%;
    border-radius: 4px;
}


/* tour section */

#content .tour-section  {
    background-color: #000;
}

#content .tour-section .ticket-list {
    background-color: #fff;
    margin-top: 40px;
    padding: 0;
}

#content .tour-section .ticket-list > li    {
    list-style: none;
    font-size: 15px;
    padding: 11px 16px;
    margin-left: 0;
    border-bottom: 1px solid #ccc;
    color: #757575;
}

#content .tour-section .ticket-list .sold-out   {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

#content .tour-section .ticket-list .quantity   {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#content .tour-section .tour-list-items  {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

#content .tour-section .tour-list-item {
    width: 30%;
    height: 390px;
    display: flex;
    flex-direction: column;
}

/* <!-- Tour-section */
.tour-list-items    {
    margin-bottom: 40px;
}

.tour-item-img  {
    width: 100%;
}

.tour-item-img:hover    {
    opacity: 0.6;
}

.tour-list-container    {
    padding-left: 16px;
    background-color: #fff;
    height: 205px;    
}

.tour-list-time {
    opacity: 0.6;
    padding: 10px 0 20px;
}

.tour-list-text {
    font-size: 1.4rem;
    margin-top: 0;
}

.tour-list-buttom   {
    padding: 11px 16px;
    text-decoration: none;
    background-color: #000;
    font-size: 1.4rem;
    margin-top: 15px;
    display: inline-block;

}

.tour-list-buttom:hover   {
    opacity: 0.6;
}

.modal  {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0 ,0 ,0 , .4);
    display: none;
    justify-content: center;
    align-items: center;    
}

.open   {
    display: flex;
}

.modal-container    {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
}

.modal-close    {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover  {
    opacity: 0.8;
    background-color: #757575;
}

.modal-header   {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-body {
    height: 240px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.modal-label    {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 18px;
}

.modal-input    {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#buy-tickets    {
    background-color: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;   
}

#buy-tickets:hover  {
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer  {  
    text-align: right; 
    padding: 0 16px;
    font-size: 1.5rem;
    padding-bottom: 16px;   
}

.modal-footer a     {
    color: #2196F3;     
}

.row    {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.col-half   {
    font-size: 1.5rem;
    font-weight: 500;    
}

.col-half i {
    margin-right: 12px; 
}

.col-half input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.col-half-input-3 input   {
    width: 100%;    
}

.contact-button p {
    font-size: 15px;
    padding: 18px; 
    background-color: #000;
    color:#fff;    
    display: inline-block;
    float: right;
}

#footer {
    margin-top: 110px;
}

#footer img{
    max-width: ;
}