*   {
    box-sizing: inherit;
}

body    {
    padding-bottom:100px ;
}

html    {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.gird   {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width   {
    width: 100%;
}

.gird__row  {
    display: flex;
    flex-wrap: wrap;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    display: flex;
    align-items: center;
}

#nav ul {
    padding: 0;    
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > ul > li > a   {
    color: #fff;
    text-transform: uppercase;
    padding: 0 24px; 
    line-height: 46px;    
}

#nav li a   {    
    text-decoration: none;
    font-size: 1.6rem;   
    display: inline-block;
         
}

#nav .subnav li:hover,
#nav > ul > li:hover > a {
    color:#000;
    background-color: #ccc;
    
}

#nav > ul > li:hover .subnav    {
    display: block;
}

#nav .subnav    {
    display: none;
    position: absolute;
    top: 46px;
    background-color: #fff;
}

#nav .subnav li {
    width: 100%;
    list-style: none;
    padding: 0 12px;
    line-height: 22px;
}

#nav .subnav a  {
    color: #000;
}

#slider {
    min-height: 500px;
    background-color: #333;
}

#content {

}

#footer {

}